<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

# **Collecting Job Data Using APIs**

Estimated time needed: **30** minutes

## Objectives

After completing this lab, you will be able to:

*   Collect job data using Jobs API
*   Store the collected data into an excel spreadsheet.

><strong>Note: Before starting with the assignment make sure to read all the instructions and then move ahead with the coding part.</strong>

#### Instructions

To run the actual lab, firstly you need to click on the [Jobs_API](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/Jobs_API.ipynb) notebook link. The file contains flask code which is required to run the Jobs API data.

Now, to run the code in the file that opens up follow the below steps.

Step1: Download the file. 

Step2: Upload the file into your current Jupyter environment using the upload button in your Jupyter interface. Ensure that the file is in the same folder as your working .ipynb file.

Step 2: If working in a local Jupyter environment, use the "Upload" button in your Jupyter interface to upload the Jobs_API notebook into the same folder as your current .ipynb file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/Upload.PNG">

Step3:  Open the Jobs_API notebook, and run all the cells to start the Flask application. Once the server is running, you can access the API from the URL provided in the notebook.

If you want to learn more about flask, which is optional, you can click on this link [here](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/FLASK_API.md.html).

Once you run the flask code, you can start with your assignment.

## Dataset Used in this Assignment

The dataset used in this lab comes from the following source: https://www.kaggle.com/promptcloud/jobs-on-naukricom under the under a **Public Domain license**.

> Note: We are using a modified subset of that dataset for the lab, so to follow the lab instructions successfully please use the dataset provided with the lab, rather than the dataset from the original source.

The original dataset is a csv. We have converted the csv to json as per the requirement of the lab.

## Warm-Up Exercise

Before you attempt the actual lab, here is a fully solved warmup exercise that will help you to learn how to access an API.

Using an API, let us find out who currently are on the International Space Station (ISS).<br> The API at [http://api.open-notify.org/astros.json](http://api.open-notify.org/astros.json?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ) gives us the information of astronauts currently on ISS in json format.<br>
You can read more about this API at [http://open-notify.org/Open-Notify-API/People-In-Space/](http://open-notify.org/Open-Notify-API/People-In-Space?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

In [23]:
import requests # you need this module to make an API call
import pandas as pd

In [24]:
api_url = "http://api.open-notify.org/astros.json" # this url gives use the astronaut data

In [25]:
response = requests.get(api_url) # Call the API using the get method and store the
                                # output of the API call in a variable called response.

In [26]:
if response.ok:             # if all is well() no errors, no network timeouts)
    data = response.json()  # store the result in json format in a variable called data
                            # the variable data is of type dictionary.

In [27]:
print(data)   # print the data just to check the output or for debugging

{'people': [{'craft': 'ISS', 'name': 'Oleg Kononenko'}, {'craft': 'ISS', 'name': 'Nikolai Chub'}, {'craft': 'ISS', 'name': 'Tracy Caldwell Dyson'}, {'craft': 'ISS', 'name': 'Matthew Dominick'}, {'craft': 'ISS', 'name': 'Michael Barratt'}, {'craft': 'ISS', 'name': 'Jeanette Epps'}, {'craft': 'ISS', 'name': 'Alexander Grebenkin'}, {'craft': 'ISS', 'name': 'Butch Wilmore'}, {'craft': 'ISS', 'name': 'Sunita Williams'}, {'craft': 'Tiangong', 'name': 'Li Guangsu'}, {'craft': 'Tiangong', 'name': 'Li Cong'}, {'craft': 'Tiangong', 'name': 'Ye Guangfu'}], 'number': 12, 'message': 'success'}

Print the number of astronauts currently on ISS.

In [28]:
print(data.get('number'))

12

Print the names of the astronauts currently on ISS.

In [29]:
print(type(data))

<class 'dict'>

In [30]:
astronauts = data.get('people')
print("There are {} astronauts on ISS".format(len(astronauts)))
print("And their names are :")
for astronaut in astronauts:
    print(astronaut.get('name'))

There are 12 astronauts on ISS
And their names are :
Oleg Kononenko
Nikolai Chub
Tracy Caldwell Dyson
Matthew Dominick
Michael Barratt
Jeanette Epps
Alexander Grebenkin
Butch Wilmore
Sunita Williams
Li Guangsu
Li Cong
Ye Guangfu

Hope the warmup was helpful. Good luck with your next lab!

## Lab: Collect Jobs Data using Jobs API

### Objective: Determine the number of jobs currently open for various technologies  and for various locations

Collect the number of job postings for the following locations using the API:

* Los Angeles
* New York
* San Francisco
* Washington DC
* Seattle
* Austin
* Detroit

In [31]:
#Import required libraries
import pandas as pd
import json

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json#### Write a function to get the number of jobs for the Python technology.<br>
> Note: While using the lab you need to pass the **payload** information for the **params** attribute in the form of **key** **value** pairs.
  Refer the ungraded **rest api lab** in the course **Python for Data Science, AI & Development**  <a href="https://www.coursera.org/learn/python-for-applied-data-science-ai/ungradedLti/P6sW8/hands-on-lab-access-rest-apis-request-http?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01">link</a>
  
 ##### The keys in the json are 
 * Job Title
 
 * Job Experience Required
 
 * Key Skills
 
 * Role Category
 
 * Location
 
 * Functional Area
 
 * Industry
 
 * Role 
 
You can also view  the json file contents  from the following <a href = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json">json</a> URL.

In [33]:

api_url_1="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json"

def get_number_of_jobs_T(technology):
    #your code goes here
    return technology,number_of_jobs

In [34]:

correct =  requests.get(api_url_1)  # Call the API using the get method and store the
                                    # the variable data is of type dictionary.

In [35]:
correct

Calling the function for Python and checking if it works.

In [38]:
# if all is well() no errors, no network timeouts)
# store the result in json format in a variable called data
 # the variable data is of type dictionary.
if correct.ok:
    x_data = correct.json()

In [39]:
x_data_df = pd.DataFrame(x_data)

In [40]:
x_data_df[x_data_df.eq("Python").any(axis=1)] #Perubahan menjadi DataFrame ada di line 59

,Id,Job Title,Job Experience Required,Key Skills,Role Category,Location,Functional Area,Industry,Role
140,156,Python Developer,1 - 3 yrs,Python,Programming & Design,Los Angeles,"IT Software - Application Programming , Mainte...","Recruitment, Staffing",Software Developer
5621,6244,Python Sr developer,2 - 5 yrs,Python,Programming & Design,Los Angeles,"IT Software - eCommerce , Internet Technologies","Recruitment, Staffing",Software Developer
14419,15952,R ProgrammerPython,5 - 10 yrs,Python,Programming & Design,New York,"IT Software - Application Programming , Mainte...","Banking, Financial Services, Broking",Software Developer

In [ ]:
print(x_data.type) # SALAH

In [ ]:
print(type(x_data)) # SCRIPT YANG BENAR

In [ ]:
print(x_data[0:2])

In [ ]:
x_data[0:3]

In [ ]:
#astronauts = data.get('people')
#print("There are {} astronauts on ISS".format(len(astronauts)))
#print("And their names are :")
#for astronaut in astronauts:
    #print(astronaut.get('name'))

In [ ]:
number_jobs = x_data.get('id')  #SALAH
for get_number_of_jobs_T in number_jobs:  #SALAH
    print(get_number_of_jobs_T.get('Job Title '))  #SALAH

In [41]:

for get_number_of_jobs_T in x_data[0:5]:
    print(get_number_of_jobs_T.get('Job Title'))

Digital Media Planner
Online Bidding Executive
Trainee Research/ Research Executive- Hi- Tech Operations
Technical Support
Software Test Engineer -hyderabad

In [ ]:
def get_number_of_jobs_T(technology):
    #your code goes here
    return technology,number_of_jobs

In [44]:
for row in x_data[0:3]:
    print(row.get('technology'))

None
None
None

#### Write a function to find number of jobs in US for a location of your choice

In [46]:
for row in x_data[0:10]:
    print(row.get('Location'))

Los Angeles
New York
San Francisco
Washington DC
Boston
Seattle
Seattle
Detroit
Austin
Austin

Call the function for Los Angeles and check if it is working.

In [ ]:
def get_number_of_jobs_L(location):
    #your coe goes here
    return location,number_of_jobs

In [47]:
#your code goes here
for row in x_data[0:10]:
    print(row.get('Los Angeles'))

None
None
None
None
None
None
None
None
None
None

In [48]:
x_data_df[x_data_df.eq('Los Angeles').any(axis=1)]

,Id,Job Title,Job Experience Required,Key Skills,Role Category,Location,Functional Area,Industry,Role
0,0,Digital Media Planner,5 - 10 yrs,Media Planning| Digital Media,Advertising,Los Angeles,"Marketing , Advertising , MR , PR , Media Plan...","Advertising, PR, MR, Event Management",Media Planning Executive/Manager
10,10,Executive Assistant To Chairman,5 - 10 yrs,secretary| executive assistant| ea,Corporate Planning/Consulting/Strategy,Los Angeles,"Strategy , Management Consulting , Corporate P...","Courier, Transportation, Freight , Warehousing",Corporate Planning/Strategy Manager
79,90,Manager (Service Operation),8 - 12 yrs,ERP| Succession Planning| MIS| Reports| Talent...,HR/ Recruitment / IR,Los Angeles,"HR , Recruitment , Administration , IR","Construction, Engineering, Cement, Metals",Training Manager
80,91,DevOps Engineer Intern,0 - 1 yrs,Intern| Linux| Windows| Unix| DNS| C++| Perl| ...,Programming & Design,Los Angeles,"IT Software - Application Programming , Mainte...","IT-Software, Software Services",Software Developer
81,92,PHP Developer (wordpress & Woo Commerce/shopif...,2 - 5 yrs,C| Woocommerce| Magento| Wordpress| MySQL| PHP...,Programming & Design,Los Angeles,"IT Software - Application Programming , Mainte...","IT-Software, Software Services",Software Developer
...,...,...,...,...,...,...,...,...,...
7371,8146,Oracle Apps Technical with OAF,3 - 8 yrs,XML| PLSQL| Workflow| Oracle Reports| Oracle a...,System Design/Implementation/ERP/CRM,Los Angeles,"IT Software - ERP , CRM","Strategy, Management Consulting Firms",Outside Technical Consultant
7381,8157,Senior Expert Web Engineering,6 - 8 yrs,MySQL| Perl| Windows| Performance tuning| VPN|...,Admin/Maintenance/Security/Datawarehousing,Los Angeles,"IT Software - Application Programming , Mainte...","IT-Software, Software Services",System Administrator
7387,8163,Hiring for Oracle Cloud HCM Functional & Techn...,7 - 12 yrs,oracle fusion,Programming & Design,Los Angeles,"IT Software - Application Programming , Mainte...","IT-Software, Software Services",Project Lead
7397,8175,Business Development Executives/Sales Executiv...,0 - 3 yrs,business development| market research| pre sal...,Retail Sales,Los Angeles,"Sales , Retail , Business Development","IT-Software, Software Services",Sales/Business Development Manager
7403,8182,Head of Admissions Consulting,3 - 8 yrs,marketing campaigns| counselling| team managem...,Teachers,Los Angeles,"Teaching , Education , Training , Counselling","Education, Teaching, Training",Counselor

In [49]:
x_data_df = pd.DataFrame(x_data)

In [50]:
x_data_df['Location'].unique()

array(['Los Angeles', 'New York', 'San Francisco', 'Washington DC',
       'Boston', 'Seattle', 'Detroit', 'Austin', 'Houston',
       'Philadelphia', 'New Orleons', 'Baltimore', 'Dallas'], dtype=object)

In [51]:
(x_data_df['Location']=='Los Angeles').sum() #HARUS ADA APRENTHESIS JIKA INGIN ADA .SUM()

640

In [52]:
x_data_df['Location']=='Los Angeles'.sum() ##HARUS ADA APRENTHESIS JIKA INGIN ADA .SUM()

AttributeError: 'str' object has no attribute 'sum'

In [53]:
x_data_df[x_data_df.eq("Python").any(axis=1)]

,Id,Job Title,Job Experience Required,Key Skills,Role Category,Location,Functional Area,Industry,Role
140,156,Python Developer,1 - 3 yrs,Python,Programming & Design,Los Angeles,"IT Software - Application Programming , Mainte...","Recruitment, Staffing",Software Developer
5621,6244,Python Sr developer,2 - 5 yrs,Python,Programming & Design,Los Angeles,"IT Software - eCommerce , Internet Technologies","Recruitment, Staffing",Software Developer
14419,15952,R ProgrammerPython,5 - 10 yrs,Python,Programming & Design,New York,"IT Software - Application Programming , Mainte...","Banking, Financial Services, Broking",Software Developer

### Store the results in an excel file

Call the API for all the given technologies above and write the results in an excel spreadsheet.

If you do not know how create excel file using python, double click here for **hints**.

<!--

from openpyxl import Workbook        # import Workbook class from module openpyxl
wb=Workbook()                        # create a workbook object
ws=wb.active                         # use the active worksheet
ws.append(['Country','Continent'])   # add a row with two columns 'Country' and 'Continent'
ws.append(['Eygpt','Africa'])        # add a row with two columns 'Egypt' and 'Africa'
ws.append(['India','Asia'])          # add another row
ws.append(['France','Europe'])       # add another row
wb.save("countries.xlsx")            # save the workbook into a file called countries.xlsx


-->

Create a python list of all technologies for which you need to find the number of jobs postings.

In [54]:
#your code goes here
x_data_df[x_data_df.eq('Python').any(axis=1)]

,Id,Job Title,Job Experience Required,Key Skills,Role Category,Location,Functional Area,Industry,Role
140,156,Python Developer,1 - 3 yrs,Python,Programming & Design,Los Angeles,"IT Software - Application Programming , Mainte...","Recruitment, Staffing",Software Developer
5621,6244,Python Sr developer,2 - 5 yrs,Python,Programming & Design,Los Angeles,"IT Software - eCommerce , Internet Technologies","Recruitment, Staffing",Software Developer
14419,15952,R ProgrammerPython,5 - 10 yrs,Python,Programming & Design,New York,"IT Software - Application Programming , Mainte...","Banking, Financial Services, Broking",Software Developer

Import libraries required to create excel spreadsheet

In [57]:
#Import libraries required to create excel spreadsheet
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.3-py2.py3-none-any.whl (251 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 251.3/251.3 kB 21.1 MB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.3

In [59]:
#Import libraries required to create excel spreadsheet
from openpyxl import Workbook

Create a workbook and select the active worksheet

In [60]:
# your code goes here
#Create a workbook and select the active worksheet
wb = Workbook()

In [61]:
# Activate Workbook
ws = Workbook.active

In [62]:
ws

Find the number of jobs postings for each of the technology in the above list.
Write the technology name and the number of jobs postings into the excel spreadsheet.

In [63]:
#your code goes here
x_data_df['Key Skills'].unique()

array(['Media Planning| Digital Media',
       'pre sales| closing| software knowledge| clients| requirements| negotiating| client| online bidding| good communication| technology',
       'Computer science| Fabrication| Quality check| Intellectual property| Electronics| Support services| Research| Management| Human resource management| Research Executive',
       ...,
       'Service delivery| LMS| CRE| Integration services| Content development| Client management| CRM',
       'Security Analysis| Software Development Life Cycle| Security Testing| Cyber Security| Application Security| New Projects| Code Review| Project Development| Software Solutions| Security Services',
       'Press release| Public relations| Publishing| Web technologies| SEO writing| Journalism| MS Word| Syndication| Business Executive| Search engine optimization'],
      dtype=object)

In [64]:
# Pecah skill berdasarkan delimiter | 
skill_list = x_data_df["Key Skills"].str.split("|")

In [65]:
skill_list

0                         [Media Planning,  Digital Media]
1        [pre sales,  closing,  software knowledge,  cl...
2        [Computer science,  Fabrication,  Quality chec...
3                                      [Technical Support]
4        [manual testing,  test engineering,  test case...
                               ...
27000    [Graphics,  C++,  USB,  Project management,  S...
27001    [Service delivery,  LMS,  CRE,  Integration se...
27002    [Counselor,  Mentor,  Trainer,  Advisor,  Teac...
27003    [Security Analysis,  Software Development Life...
27004    [Press release,  Public relations,  Publishing...
Name: Key Skills, Length: 27005, dtype: object

In [66]:
# Ubah menjadi satu list panjang
all_skills = skill_list.explode().str.strip()

In [67]:
all_skills[0:10]

0        Media Planning
0         Digital Media
1             pre sales
1               closing
1    software knowledge
1               clients
1          requirements
1           negotiating
1                client
1        online bidding
Name: Key Skills, dtype: object

In [68]:
# Hitung jumlah kemunculan tiap skill
skill_counts = all_skills.value_counts()

In [69]:
skill_counts

Javascript                            1434
SQL                                   1292
HTML                                  1285
Sales                                 1221
Python                                1165
                                      ...
Informatica MDM                          1
Tele Marketing                           1
Content Writer / Content Developer       1
offshore software services               1
Integration services                     1
Name: Key Skills, Length: 22566, dtype: int64

In [70]:
#wb = Workbook()
ws = wb.active
ws.title = "Skill Count"

ws.append(["Technology / Skill", "Number of Job Postings"])

for skill, count in skill_counts.items():
    ws.append([skill, count])

#wb.save("technology_counts.xlsx")

In [71]:
ws

In [ ]:
x_data_df['Job Title'].unique() #TIDAK TERPAKAI

Save into an excel spreadsheet named **job-postings.xlsx**.

In [72]:
#your code goes here
#Save into an excel spreadsheet named job-postings.xlsx.
wb.save('job-postings.xlsx')

#### In the similar way, you can try for below given technologies and results  can be stored in an excel sheet.

Collect the number of job postings for the following languages using the API:

*   C
*   C#
*   C++
*   Java
*   JavaScript
*   Python
*   Scala
*   Oracle
*   SQL Server
*   MySQL Server
*   PostgreSQL
*   MongoDB

In [ ]:
# your code goes here

## Authors

Ayushi Jain

### Other Contributors

Rav Ahuja

Lakshmi Holla

Malika

Copyright © IBM Corporation.

<!--## Change Log

<!--| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- | 
| 2022-01-19        | 0.3     | Lakshmi Holla        | Added changes in the markdown      |
| 2021-06-25        | 0.2     | Malika            | Updated GitHub job json link       |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |--!>